# Compiled object files
*.o

# Compiled dynamic libraries
*.so
*.dylib

# Compiled static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Visual Studio Code specific files
.vscode/

# CMake build directory
build/

# C++ build artifacts
Debug/
Release/
x64/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Main
main.cpp