# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono Auto Generated)
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# C++ specific
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.exp
*.dll
*.pdb
*.idb
*.ipch
*.aps
*.ncb
*.sdf
*.opendb
*.tlog
*.VC.db
*.VC.VC.opendb

# Visual Studio Code workspace settings
.vscode/

# Recycle Bin used by the Visual Studio project
.vs/

# Backup & hidden folder
Backup/
Thumbs.db
ehthumbs.db

# Temporary files
*.tmp
*.log
*.vscode/*

# Main
main.cpp